<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/stylesplomeria.css}">
    <title>Cuidadores de animales</title>
</head>
<body>
   <header class="navbar">
    <div class="logo">
      <h4>JobXpress</h4>
    </div>
    <nav class="nav-links">
      <a th:href="@{/cliente/home}">Inicio</a>
      <a href="#servicios">Servicios</a>
      <a th:href="@{/cliente/perfil}">Tu perfil</a>
      <a th:href="@{/cliente/chat}">Chat</a>
      <a th:href="@{/cliente/dashboard}">Dashboard</a>

      <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
        Cerrar sesión
      </a>
      <form id="logout-form" th:action="@{/logout}" method="POST" style="display:none;"></form>
    </nav>
  </header>

    <main class="contenedor">
        <h1>Cuidadores de animales</h1>
        <p>Profesionales dedicados al cuidado y bienestar de tus mascotas. Ya sea en casa, durante tus viajes o en paseos diarios.</p>

        <div class="tarjetas-usuarios">
            <div th:each="i : ${#numbers.sequence(1,9)}" class="usuario">
                <img th:src="@{'/images/prestador' + ${i} + '.jpg'}" th:alt="'Prestador ' + ${i}">
                <div class="info">
                    <h3 th:text="'Prestador ' + ${i}"></h3>
                    <p th:switch="${i}">
                        <span th:case="1">Me encanta salir a caminar con los peluditos. Hago paseos seguros con rutas adecuadas para que tu perro se ejercite.</span>
                        <span th:case="2">Cuido de tus mascotas en casa cuando estás de viaje o en el trabajo. Les doy comida y cariño como si fueran míos.</span>
                        <span th:case="3">Ofrezco alojamiento temporal para perros o gatos en mi hogar, asegurando su cuidado y compañía constante.</span>
                        <span th:case="4">Servicios básicos como baño, cepillado y limpieza de orejas, con paciencia y amor para tu mascota.</span>
                        <span th:case="5">Administro medicamentos y tratamientos, cuidando especialmente mascotas postoperatorias.</span>
                        <span th:case="6">Cuido mascotas como conejos, aves, hámsters o reptiles, con alimentación y rutinas específicas.</span>
                        <span th:case="7">Entreno perros para mejorar su comportamiento y aprender comandos básicos con refuerzo positivo.</span>
                        <span th:case="8">Transporte seguro de mascotas a veterinarios, guarderías o peluquerías, con cuidado y atención.</span>
                        <span th:case="9">Organizo guarderías y socialización para perros, asegurando diversión y bienestar.</span>
                    </p>
                    <a href="#" class="btn">Ver perfil</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
